.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%; 
  max-height: 400px; 
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  width: 100%;
  max-width: 860px; 
  margin: 0 auto 3rem;
  padding: 0 1rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 300px);
}

.postHeader {
  > h1 {
    margin-top: 5rem;
    font-size: 3rem; 
  }

  .postInfo {
    display: block;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
 
    div {
      display: flex;
      flex-direction: row;

      time {
        margin-left: 8px;
        color: var(--info);
        font-size: 0.9rem;
      }

      p {
        margin-left: 8px;
        color: var(--info);
        font-size: 0.9rem;
      }

      & + div {
        margin-left: 1.5rem;
      }
    }
  }
}

.postContent {
  h1 {        
    font-size: 2.4rem;
    margin-top: 3rem;
  }

  p {
    margin: 3rem 0;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: justify;
  }

  a {
    color: var(--highlight);
  }
}